---

---

<nav id="navbar" class="close">
  <img
    src="/logo.svg"
    alt="Une spirale à deux branches : la donnée et le web"
  />
  <div id="navbar-responsive">
    <a id="navbar-brand" href="/">
      <span>Nebula</span>
      <span>Sites internet écologiques</span>
    </a>
    <button id="navbar-menu-open"> </button>
    <button id="navbar-menu-close"> </button>
  </div>
  <div id="navbar-menu">
    <a href="/commandez-votre-site-internet-ecologique">Commandez votre site</a>
    <a href="/fonctionnement">Fonctionnement</a>
    <a href="/tableau-de-bord">Tableau de bord</a>
    <a href="/developpeurs">Développeurs</a>
  </div>
</nav>
<img
  src="/banniere.svg"
  alt="Un morceau de nuage turquoize (couleur de la donnée) avec des étoiles au loin, et une planète bleu clair (couleur des sites)"
/>
