---

---

<nav id="navbar" class="close">
  <img
    src="/logo.svg"
    alt="Une spirale à deux branches : la donnée et le web"
  />
  <div id="navbar-responsive">
    <a id="navbar-brand" href="/">
      <span>Nebula</span>
      <span>Sites écologiques</span>
    </a>
    <button id="navbar-menu-open"> </button>
    <button id="navbar-menu-close"> </button>
  </div>
  <div id="navbar-menu">
    <a href="/sites-internet">Sites internet</a>
    <a href="/comment-ca-marche">Comment ça marche ?</a>
    <a href="/tarifs">Tarifs</a>
    <a href="/a-propos">À propos</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
<img
  src="/banniere.svg"
  alt="Un morceau de nuage turquoize (couleur de la donnée) avec des étoiles au loin, et une planète bleu clair (couleur des sites)"
/>
